mongoURI="mongodb://localhost:27017/OnlineE-LearningPlatform"
ACCESS_TOKEN_SECRET = "S23R24M25"
DOMAIN=http://localhost:3000

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME =dmgkiiaqo
CLOUDINARY_API_KEY=712967464765558
CLOUDINARY_API_SECRET=C6qPztoyBZNAbhyOU5uuJvlxWwY
CLOUDINARY_IMAGE_PRESENT="images_present"
CLOUDINARY_VIDEO_PRESENT="videos_present"
CLOUDINARY_URI="https://api.cloudinary.com/v1_1/dmgkiiaqo"
